<launch>

    <arg name="pose_topic" default="/dagger/pose"/>
    <arg name="pose_delta_topic" default="/dagger/delta_pose"/>

    <include file="$(find panda_moveit_config)/launch/core.launch"/>

    <node pkg="panda_dagger" type="panda_absolute_controller" name="panda_absolute_controller">
        <param name="pose_topic" value="$(arg pose_topic)"/>
    </node>

    <node pkg="panda_dagger" type="panda_delta_controller" name="panda_delta_controller">
        <param name="pose_delta_topic" value="$(arg pose_delta_topic)"/>
    </node>

</launch>
