<launch>

    <arg name="pose_topic" default="/dagger/pose"/>
    <arg name="period" default="10.0"/>

    <include file="$(find panda_moveit_config)/launch/core.launch"/>

    <node pkg="panda_dagger" type="panda_moves" name="panda_moves">
        <param name="pose_topic" value="$(arg pose_topic)"/>
    </node>

    <node pkg="panda_dagger" type="panda_goal_generator" name="panda_goal_generator">
        <param name="topic_pub" value="$(arg pose_topic)"/>
        <param name="period" value="$(arg period)"/>
    </node>

    <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch">
        <arg name="config" value="true"/>
    </include>

</launch>
